@model ToDoListsVM;

@{
    var i = 1;
}

<div>
    <table class="table table-hover" aria-describedby="TaskCategory">
        <thead>
            <tr>
                <th>
                    Nr
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Hidden
                </th>
                <th>
                    Creation Date
                </th>
                <th>
                    Number of tasks
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.ToDoLists)
            {
                <tr class="@(list.IsHidden ? "table-secondary" : "table-light")">
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(c => list.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(c => list.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(c => list.IsHidden)
                    </td>
                    <td>
                        @Html.DisplayFor(c => list.CreationDate)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(c => list.NumberOfTasks)
                    </td>
                    <td>

                        <a href="@Url.Action("Index", "ToDoTask", new {listId = list.Id})" class="btn btn-primary btn-sm">
                            <i class="fa fa-mobile"></i> Tasks
                        </a>
                        @if (list.Name != "Important" && list.Name != "Daily" && list.Name != "Today")
                        {
                            <a href="@Url.Action("Edit", "ToDoList", new { id = list.Id })" class="btn btn-primary btn-sm">
                                <i class="fa fa-mobile"></i> Edit
                            </a>
                            <a href="@Url.Action("Details", "ToDoList", new { id = list.Id })" class="btn btn-primary btn-sm">
                                <i class="fa fa-mobile"></i> Details
                            </a>
                            <a onclick="return confirm('Do you want to delete this row?')" href="@Url.Action("Delete", "ToDoList", new { id = list.Id }   )" class="btn btn-primary btn-sm">
                                <i class="fa fa-mobile"></i> Delete
                            </a>
                            <a href="@Url.Action("Copy", "ToDoList", new {listId = list.Id})" class="btn btn-primary btn-sm">
                                <i class="fa fa-mobile"></i> Copy
                            </a>
                        }
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
