@model ToDoListDto;

@{
    ViewData["Title"] = "Details";
}

<table class="table table-sm table-bordered table-striped" aria-describedby="TaskCategoryDetails">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Id)
            </th>
            <td>
                @Model.Id
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Name)
            </th>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Description)
            </th>
            <td>
                @Model.Description
            </td>
        </tr>
        <tr>
            <th>
                Creation Date
            </th>
            <td>
                @Model.CreationDate
            </td>
        </tr>
        <tr>
            <th>
                Hidden
            </th>
            <td>
                @Model.IsHidden
            </td>
        </tr>
        <tr>
            <th>
                Number Of Tasks inside list
            </th>
            <td>
                @Model.NumberOfTasks
            </td>
        </tr>
        <tr>
            <th>
                User Name
            </th>
            <td>
                @Model.User.UserName
            </td>
        </tr>
    </tbody>
</table>

@*<a class="btn btn-warning" asp-controller="Admin" asp-action="Edit" asp-route-productId="@Model?.ProductId">Edit</a>*@
<a class="btn btn-secondary" asp-controller="ToDoList" asp-action="Index">Back</a>

