@model IEnumerable<TaskCategoryDto>;

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Add">Create New</a>
</p>

<div>
    <table class="table table-hover" aria-describedby="TaskCategory">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(c => category.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(c => category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(c => category.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = category.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = category.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = category.Id}, new { onclick = "return confirm('Do you want to delete this row?');" }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

